.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  padding: 0 24px;
}

.details {
  padding: 40px 0 80px 0;
}

@media (min-width: 1080px) {
  .container {
    height: 100dvh;
    grid-template-columns: 360px 1fr;
    gap: 32px;
    /* overflow: hidden; */
  }

  .details {
    max-height: 100%;
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }

  .details::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}
