:root {
  --color-bg: rgb(0, 0, 0);
  --color-secondary: rgb(16, 16, 16);
  --color-text: white;
  --color-text-contrast: #003322;
  --color-text-secondary: #a3a3a3;
  --color-border: #282828;
  --color-accent: #27e98c;
}

[data-theme="blue"] {
  --color-bg: #00d4ff; /* main background */
  --color-secondary: #b3f4ff; /* darker shade of bg */
  --color-text: #00222b; /* dark text on bright background */
  --color-text-contrast: white; /* contrasting text if needed */
  --color-text-secondary: #001318; /* muted secondary text */
  --color-border: #1a90b0; /* border slightly darker */
  --color-accent: #004d80; /* strong accent on blue */
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100dvh;
  box-sizing: border-box;
  background: var(--color-bg);
  color: var(--color-text);
}

.h-level-2 {
  font-size: 24px;
  font-weight: 700;
}
