:root {
  --color-bg: rgb(0, 0, 0);
  --color-secondary: rgb(16, 16, 16);
  --color-text: white;
  --color-text-contrast: black;
  --color-border: #282828;
  --color-accent: green;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
  background: var(--color-bg);
}
